h1{
  text-align:center;
  color:blue
}

h3{
  text-align:center;
  color: red;
}

p{
  text-align:center;
}
.entrar{
  padding: 10px 10px;
  border-radius:8px;
  background:green;
  border-width: 2px;
  color:white;
  border-color:skyblue;
}
.ir{
  padding:10px 10px;
  border-radius:8px;
  background:green;
  color:white;
  border-width:2px;
  border-color:skyblue;
  display: block;
  margin:2px;
}

body{

}