h1{
  text-align:center;
  color:blue;
  front-sive:8vw;
}

h3{
  text-align:center;
  ftont-size:8vw;
  color: red;
}

h2{
  text-align:center;
  color:red;
  front-size: 8vw;
}
.entrar{
  padding:20px 20px;
  border-radius:8px;
  background:gold;
  border-width: 1px;
  color:black;
  border-color:black;
  border:solid;
  front-size:4vw;
}
.ir{
  padding:20x 20px;
  border-radius:8px;
  background:gold;
  color:black;
  border-width:1px;
  border-color:black;
  display:block;
  margin:2px;
  border:solid;
  front-sive: 4vw;
}

body {
  background-image: url("sesar.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.descargar{
  background:blue;
  padding:20px 20px;
  border-radius:8px;
  border-width:2px;
  color:white;
  display:block;
  margin: 10px;
  border:solid;
  border-color:blue;
  front-size:4vw;
}
.foto{
  border:3px solid black;
  border-radius:10px;
  }
